@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Comic Neue', cursive;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
    margin: auto;
}

body{
    background-color: whitesmoke;
}

/* Nav bar */

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    border-radius: 4px;
    background-color: rgba(128, 128, 128, 0.411);
}
.navBarTitle{
    text-align: center;
    margin-top: 10px;
}
.navBarSearch{
    margin-top: 40px;
    margin-left: 4%;
}
.navBarLogin{
    height: 25px;
    text-align: center;
    margin-top: 40px;
    margin-left: 90px;
}
.navBarLogin-Button{
    height: 40px;
    width: 120px;
    color: white;
    font-size: 30px;
    border: solid black 2px;
    box-shadow: 2px 1px 1px .5px black;
    background-color: rgb(43, 120, 228);
}
ul{
    list-style: none;
}
li{
    flex: 1;
}
h1{
    margin-right: 50%;
    margin-top: 20px;
    padding-left: 10%;
    font-size: 50px;
}
li > input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
}

/* Box models + position */

.allContent{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 80vw;
}
.mainContent{
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-top: 4%;
    height: 96%;
    width: 100%;
}
.sideContent{
    display: flex;
    flex: 1;
    height: 96%;
    margin-top: 4%;
}
.mcBoxModel{
    height: 50%;
    width: 100%;
}
.mainBox1{
    height: 40%;
    width: 100%;
    margin: 0% 0% 0% 0%;
    border: black 2px solid;
    border-radius: 5px;
}
.mainBox2{
    height: 40%;
    width: 100%;
    margin: 6% 0% 0% 0%;
    border: black 2px solid;
    border-radius: 5px;
}
.sideBox3{
    height: 36%;
    width: 36%;
    margin: 4% 4% 0% 4%;
    border-radius: 5px;
    border: black 2px solid;
}

/* Content boxes + content */

.mainBox-ContentBox{
    display: flex;
    height: 80%;
    width: 80%;
    margin: 3% 0% 0% 10%;
}
.boxContent1-subBox{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.boxContent2-subBox{
    flex: 2;
}
.subBox-Content{
    flex: 1;
    height: 20%;
    width: 94%;
    margin: 1% 0% 0% 3%;
}
.subBox2-Content{
    height: 40%;
    width: 80%;
    margin: 10% 0% 0% 10%;
}
.textFormatting{
    padding-top: 5%;
    text-align: center;
}
.definedWord{
    font-size: 40px;
}
.descriptor{
    font-size: 30px;
}
.plural{
    font-size: 20px;
}
a {
    color: skyblue;
}

/* Side box */

.sideBox-ContentBox{
    display: flex;
    height: 80%;
    width: 80%;
    margin: 5% 0% 0% 10%;
    flex-direction: column;
}
.sideBox-ContentBox-subContentBoxes{
    flex: 1;
    width: 80%;
    margin: 0% 0% 0% 0%;
}
.subContent1{
    flex: 1;
    height: 100%;
    width: 100%;
    margin: 8% 0% 0% 20%;
}
.subContent2{
    flex: 1;
    padding-top: 20%;
    height: 30%;
    width: 100%;
}
.subContent1-text{
    font-size: 30px;
}
.wordDefined{
    font-size: 30px;
}

/* Buttons */

.likeButton{
    height: 50%;
    width: 60%;
    padding-top: 4%;
    margin: 3% 0% 0% 20%;
    text-align: center;
    border: solid black 2px;
    box-shadow: 2px 1px 1px .5px black;
    background-color: rgb(255, 217, 102);
}
.addDefinitionBtn{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 5% 5% 5% 13%;
    padding: 5% 0% 0% 0%;
    border: solid black 2px;
    box-shadow: 2px 1px 1px .5px black;
    background-color: rgb(147, 196, 125);
}